/.idea/.gitignore
/design/about.png
/data.csv
/design/design.txt
/.idea/Dictionary.iml
/design/dictionary.png
/design/home.png
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
